@import "/src/app/todo-app/variable.scss";

.functional-btn-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.8rem 2rem;

  .functional-btn {
    flex: 1;
    max-width: 11rem;
    padding: 0.6rem 0;

    &:nth-child(1) {
      color: #fff;
      background-color: $primary-color;
    }

    &:nth-child(2):hover,
    &:nth-child(2).active {
      background-color: $primary-color;
    }

    &:nth-child(3):hover,
    &:nth-child(3).active {
      background-color: $success-color;
    }

    &:nth-child(4):hover,
    &:nth-child(4).active {
      background-color: $grey-color;
    }
  }
}
