<div class="dialog">
  <div
    class="dialog-overlay"
    [hidden]="!dialogOpen"
    (click)="handleCloseBtnClick()"
  ></div>

  <div class="dialog-wrap">
    <div class="title">
      {{
        dialogType === EDialogType.ADD
          ? "Add new todo"
          : dialogType === EDialogType.EDIT
          ? "Edit todo: " + currentTodo?.name
          : "View todo: " + currentTodo?.name
      }}
    </div>

    <div class="dialog-content">
      <form action="">
        <div class="form-gr">
          <label for="name" class="label"> Todo name: </label>
          <input
            type="text"
            name="name"
            id="name"
            [value]="currentTodo?.name"
            placeholder="Todo name"
            [disabled]="dialogType === EDialogType.VIEW"
          />
        </div>

        <div class="form-gr">
          <label for="deadline" class="label"> Deadline: </label>
          <input
            type="datetime-local"
            name="deadline"
            id="deadline"
            [disabled]="dialogType === EDialogType.VIEW"
          />
        </div>
      </form>
    </div>

    <div class="dialog-action">
      <button class="dialog-btn" [hidden]="dialogType === EDialogType.VIEW">
        {{ dialogType === EDialogType.ADD ? "Add" : "Save" }}
      </button>

      <button class="dialog-btn" (click)="handleCloseBtnClick()">Close</button>
    </div>
  </div>
</div>
